[submodule "Submodules/yolov5"]
	path = Submodules/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "Submodules/sort"]
	path = Submodules/sort
	url = https://github.com/abewley/sort.git
[submodule "Submodules/HOTA-metrics"]
	path = Submodules/HOTA-metrics
	url = https://github.com/JonathonLuiten/HOTA-metrics.git
