# https://git-scm.com/docs/gitignore
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore


## Arquivos pessoais, temporários ou cache.
**/.ipynb_checkpoints/
**/.vscode/
**/*.code-workspace
**/__pycache__/
**/*.pyc

## Ignorar a pasta Datasets exceto Readme.md
/Datasets/*
!/Datasets/README.md

# Pasta temporária local
/temp/

# Pesos dos modelos treinados
**/*.pt

# Arquivos criados durante os experimentos (são salvos apenas na nuvem)
# Preservar apenas os notebooks
**/RedesNeurais/*/*/*
!**/RedesNeurais/*/logs/
!**/RedesNeurais/*/logs/*.ipynb
!**/RedesNeurais/*/*.ipynb
!**/RedesNeurais/*/*.sh
!**/RedesNeurais/*/hyp.*.yaml
